/* Elements */

* {
  user-select: none;
  text-align: center;
}

:root {
  color-scheme: dark light;
  --cooli: "Sacramento", "Jua", "Quicksand", "Valera Round", "Comfortaa",
    "Indie Flower", "Shadows Into Light", "Twinkle Star", cursive;
  --yellow: #fecd1a;
  --green: #17b978;
  --paragraph-font-family: "Quicksand", "Comfortaa", "Montserrat",
    "Varela Round", "Helvetica Neue", "Arial", sans-serif;
  --code-font-family: "Comfortaa", "Quicksand", "Valera Round", "Indie Flower",
    sans-serif;
  --pink: #fd3a69;
  --header-two-color: #00bdaa;
  --popup-bg-color: #323232;
  --title-font-family: "Jua", "Comfortaa", "Quicksand", "Valera Round",
    "Indie Flower", "Shadows Into Light", "Twinkle Star", sans-serif;
  --header-two-font-family: "Quicksand", "Comfortaa", sans-serif;
  --nav-hover-color: #ff7567;
  --nav-hover-text-shadow: #ffbab3;
  --menu-top-bottom: #17B978;
  --menu-middle: #086972;
  --menu-close: #FFEDDA;
  --nav-font-family: "Varela Round", "Quicksand", "Comfortaa", sans-serif;
  --sub-skill-heading-font-family: "Balsamiq Sans", "Jua", "Quicksand",
    "Comfortaa", "Valera Round", "Helvetica Neue", "Arial", sans-serif;
  --sub-project-descr-font-family: "Balsamiq Sans", "Jua", "Quicksand",
    "Comfortaa", "Valera Round", "Helvetica Neue", "Arial", sans-serif;
  --card-title-font-family: "Varela Round", "Quicksand", "Comfortaa", sans-serif;
  --footer-fallback-color: #222831;
  --footer-peach: #ee7752;
  --footer-pink: #e73c7e;
  --footer-blue: #23a6d5;
  --footer-green: #23d5ab;
  --footer-link-color: #ffedda;
  --footer-link-hover-color: #f6f7d7;
  --footer-link-font-family: "Varela Round", "Quicksand", "Comfortaa",
    sans-serif;
  --numbers-font-family: "Vibur", "Cabin Sketch", "Indie Flower",
    "Shadows Into Light", cursive;
  --footer-copyright-color: #f6f7d7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --intro-background-color: #3a4258;
    --main-bg-color: #283149;
    --paragraph-color: #dbedf3;
    --card-background-color: #444f6f;
    --card-title-color: #f73859;
    --hr-background-color: var(--main-bg-color);
    --pink-text-shadow: none;
    --header-two-text-shadow: none;
    --nav-hover-text-shadow: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --intro-background-color: #e4ecec;
    --main-bg-color: #f1f1f1;
    --paragraph-color: #1a374d;
    --card-background-color: #dbedf3;
    --card-title-color: #516beb;
    --hr-background-color: var(--main-bg-color);
    --pink-text-shadow: #feb3c5;
    --header-two-text-shadow: #b3fff7;
    --nav-hover-text-shadow: #ffbab3;
  }
}

body {
  margin: 0;
  text-align: center;
}

hr {
  border: dotted var(--yellow) 10px !important;
  border-bottom: none !important;
  width: 5% !important;
  margin: 100px auto !important;
  background-color: var(--hr-background-color) !important;
  opacity: 1 !important;
}

a {
  margin: 10px 20px;
  text-decoration: none !important;
}

p {
  line-height: 2;
  font-family: var(--paragraph-font-family);
  color: var(--paragraph-color);
}

h1 {
  margin-top: 0;
  color: var(--pink);
}

footer {
  background-color: var(--footer-fallback-color);
  padding: 50px 0 20px;

  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image: -webkit-linear-gradient(
    -43deg,
    var(--footer-peach),
    var(--footer-pink),
    var(--footer-blue),
    var(--footer-green),
    var(--yellow)
  );

  /* Firefox 3.6 - 15 */
  background-image: -moz-linear-gradient(
    -43deg,
    var(--footer-peach),
    var(--footer-pink),
    var(--footer-blue),
    var(--footer-green),
    var(--yellow)
  );

  /* Opera 11.1 - 12 */
  background-image: -o-linear-gradient(
    -43deg,
    var(--footer-peach),
    var(--footer-pink),
    var(--footer-blue),
    var(--footer-green),
    var(--yellow)
  );

  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background: linear-gradient(
    -43deg,
    var(--footer-peach),
    var(--footer-pink),
    var(--footer-blue),
    var(--footer-green),
    var(--yellow)
  );

  animation: gradient 18.75s ease infinite;
  background-size: 500% 500%;
}

h2 {
  color: var(--header-two-color);
  font-family: var(--header-two-font-family);
  padding-bottom: 10px;
  text-shadow: -4px 5px 8px var(--header-two-text-shadow);
}

/* All */

.numbers {
  font-size: 2.75rem;
  font-family: var(--numbers-font-family);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cooli {
  font-family: var(--cooli);
}

/* Intro */

.top-container {
  background-color: var(--intro-background-color);
  position: relative;
  padding-top: 81px;
  margin-top: 80px;
}

.bar {
  background-color: var(--intro-background-color);
  overflow: hidden;
  position: relative;
  font-family: var(--nav-font-family);
  content: "";
}

.bar a {
  float: right;
  text-align: center;
  font-size: 100%;
  padding: 50px 16px 0;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  content: "";
}

.nav-link {
  text-decoration: none;
  color: var(--header-two-color) !important;
  text-shadow: -4px 5px 8px var(--header-two-text-shadow);
}

.nav-link:hover {
  color: var(--nav-hover-color) !important;
  text-shadow: -4px 5px 8px var(--nav-hover-text-shadow);
}

.logo {
  margin-left: 25px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  top: 863;
}

.name {
  font-size: 6rem;
  margin-bottom: 0;
  height: 112px;
  text-shadow: -4px 5px 8px var(--pink-text-shadow);
}

.title {
  font-family: var(--title-font-family);
  font-size: 225%;
  height: 33.014px;
}

/* Bio */

.bio {
  width: 30%;
  margin: auto;
}

/* Skills */

.sub-skill-heading {
  font-family: var(--sub-skill-heading-font-family);
  font-size: 160%;
  color: var(--nav-hover-color);
  text-shadow: -4px 5px 8px var(--nav-hover-text-shadow);
  text-align: left;
}

.sub-skill-text {
  text-align: left;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.code {
  width: 240px;
  float: left;
  margin-right: 30px;
}

.paint {
  width: 240px;
  float: right;
}

.photo {
  width: 240px;
  float: left;
  margin-right: 30px;
}

.middle-container {
  margin: 100px 0;
}

/* Projects */

.sub-project-descr {
  font-family: var(--sub-project-descr-font-family);
  font-size: 185%;
  color: var(--nav-hover-color);
  text-shadow: -4px 5px 8px var(--nav-hover-text-shadow);
}

.btn {
  font-family: "Patrick Hand", sans-serif;
  font-size: 1.15rem !important;
}

.card-title {
  color: var(--card-title-color) !important;
  font-family: var(--card-title-font-family);
}

.card {
  border: none !important;
  background-color: var(--card-background-color) !important;
  border-radius: 1.5rem !important;
  max-width: 20rem;
}

.content {
  border-radius: 1.5rem !important;
}

.card-img-top {
  border-top-right-radius: 1.5rem !important;
  border-top-left-radius: 1.5rem !important;
  border-bottom-right-radius: 1rem !important;
  border-bottom-left-radius: 1rem !important;
}

/* Animations */

.float {
  animation-name: float;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 4px;
}

@keyframes float {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Footer */

.footer-link {
  color: var(--footer-link-color) !important;
  transition: all 0.3s ease-in-out !important;
  font-size: 130%;
  font-family: var(--footer-link-font-family);
}

.footer-link:hover {
  color: var(--footer-link-hover-color) !important;
}

.copyright {
  color: var(--footer-copyright-color);
  padding: 20px 0;
  margin: 15px 0 0 0;
}
